# VSCode ignore
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/

# dotenv
.env

# Private things. Release as needed to staff or whoever
_private

# Other
cogs/test
testing

misc/temp
misc/afk.db
# misc/banished.db
# misc/server_cfg.db

logs/*.log
logs/errors/*

assets/join_message_images/*.*
assets/profile_pictures/*.*